@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background: #A45D72;
}
* {    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    margin-bottom: -4px;
}
a {
    color: inherit;         
    text-decoration: none; 
    background-color: transparent; 
    cursor: pointer;        
    outline: none;           
}
button {
    cursor: pointer;
    border: none;
    background: none;
}
li {
    list-style: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.inner {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    max-width: 1500px;
}
.flex {
    display: flex;
}
.grid {
    display: grid;
}
.jc-between {
    justify-content: space-between
}
.ai-center {
    align-items: center;
}
