/* ================= 헤더 섹션 ================= */
header {
    position: fixed;
    inset: 0 auto auto 0;
    z-index: 1000;
    width: 100%;
    padding: 1.3rem 0;
    background: #671930;
    transition: all 0.4s ease;
}
header .logo a {
    display: block;
    width: 12rem;
    transition: all 0.4s ease;
}
header .gnb li {
    text-align: center;
}
header .gnb li a {
    display: block;
    padding: 1rem;
    font-size: .9rem;
    font-weight: 600;
    color: #fafafa;
}
nav.pc-only {
    grid-template-columns: 1fr auto 1fr;
}
.logo {
    justify-self: center;
}
.gnb-left {
    justify-self: start;
}
.gnb-right {
    justify-self: end;
}

header.fixed {
    padding: .6rem 0;
}
header.fixed .logo a {
    width: 13rem;
}

/* ================= header 반응형 탭 오픈 버튼 ================= */
.tab-open-btn {
    display: none;
    z-index: 10000;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 3px solid #F0DCE2;
    border-radius: 50%;
    font-size: 2rem;
    color: #F0DCE2;
    background: #671930;
}

/* ======================== header 반응형 오버레이 탭 ======================== */
.overlay {
    opacity: 0;
}
.overlay.open {
    position: fixed;
    inset: 0;
    z-index: 1000;
    background: rgba(0,0,0,0.5); 
    opacity: 1;
}
.tab-wrap {
    position: fixed;
    inset: 0 0 auto auto;    
    z-index: 1100;
    width: 70%;
    height: 100%;
    padding-top: 100px;
    background: #fff8ed;
    opacity: 0;
    transform: translateX(100%);
    pointer-events: none;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.tab-wrap.open {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}
.tab-wrap .mo-only a {
    font-size: .9rem;
    color: #3E2523;
}
nav.mo-only .gnb li {
    padding: .8rem 2rem;
}
nav.mo-only .gnb a {
    display: block;
    padding: .5rem 0;
}
nav.mo-only .icon-arrow {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-right: 1.5px solid #3E2523;
    border-bottom: 1.5px solid #3E2523;
    transform: rotate(45deg);
}
.tab-wrap .follow-us {
    padding: 1rem 1.8rem;
    margin-top: 1rem;
    border-top: 1px solid #EDE4D6;
}
.tab-wrap .follow-us p {
    margin-bottom: 10px;
    font-size: .85rem;
    font-weight: 600;
    color: #3E2523;
}
.tab-wrap .follow-us a {
    width: 20px;
    height: auto;
    margin-right: 18px;
}

/* ======================== 히로 섹션 ======================== */
.hero-section {
    position: relative;
    height: calc(100vh - var(--header-height));    
    min-height: 600px;
    padding: 2rem 0;
    background: #F0DCE2;    
}
.hero-section .img-wrap {
    height: 100%;
    background: url(../img/hero/hero.jpg) center/cover no-repeat;
    border: 15px solid #671930;
    border-radius: 30px;
}
.hero-badge-wrap {
    position: absolute;
    inset: 50% 10% auto auto;
    transform: translateY(-50%);
}
.hero-badge-list {
    flex-direction: column;
    gap: 15px;
}
.hero-badge-list li {
    width: 15vw;
    max-width: 220px;
    height: auto;
}

/* ======================== 프로모션 섹션 ======================== */
.promotion-section {
    padding: 6rem 0 10rem;
    background: #fafafa;
}
.promotion-slide-wrap .content-title {
    font-size: .9rem;
    font-weight: 600;
}
.promotion-slide-wrap .thumb-wrap{
    position: relative;
}

/* ======================== 신제품 섹션 ======================== */
.new-section {
    position: relative;
    padding: 6rem 0 10rem;
    background: url(../img/new/new_bg.svg) center/cover no-repeat;
    color: #6B4C43;
}
.new-section h3 {
    margin-bottom: 6rem;
    font-size: 2.3rem;
    font-weight: 700;
    text-align: center;
}
.new-section h3::after {
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    margin: 60px auto 0;
    background: #6B4C43;
}
.new-slide-wrap .new-slide-list {
    justify-content: center;
    align-items: start;
}
.new-slide-wrap .img-wrap {
    width: 200px;
    margin: 0 auto;
    aspect-ratio: 1 / 1;
}
.new-slide-wrap figcaption {
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    color: #3E2523;
}

/* ================= 브랜드 컨텐츠 섹션 ================= */
.brand-content-section {
    background: #F0DCE2;
}
.brand-content-section .thumb-wrap {
    position: relative;
    max-width: 300px;
    min-width: 280px;
    aspect-ratio: 1 / 1;
}
.brand-content-section .content-title {
    margin: .9rem 0 .8rem 0;
    font-size: 1.4rem;
    font-weight: bold;
}

/* ================= 레시피 섹션 ================= */
.recipes-section {
    background: #fff8ed;
}
.recipes-list {
    gap: 30px;
}
.recipes-section .thumb-wrap {
    position: relative;
    aspect-ratio: 2 / 1;
}
.recipes-section .content-title {
    font-size: 1rem;
    font-weight: 600;
}
.recipes-section .content-text {
    margin-bottom: 5px;
}
.recipes-section .content-desc i {
    margin-right: 8px;
}

/* ================= 매장 섹션 ================= */
.store-section {
    background: #fff;
}
.store-section .inner>div {
    gap: 40px;
}
.store-img {
    flex: 1;
    overflow: hidden;
    border-radius: 12px; 
}
.store-img img {
    object-fit: cover;
}
.store-list {
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid #d9d9d9;
}
.store-list li {
    padding: .9rem;
    border-bottom: 1px solid #d9d9d9;
}
.store-list li:last-child {
    border: none;
}
.store-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: #3E2523;
}
.store-address {
    margin-top: 7px;
    font-size: .9rem;
    color: #3E2523;
}
.store-list .more-btn {
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #3E2523;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 700;
    color: #3E2523;
    cursor: pointer;  
    transition: all .4s ease;
}
.store-list .more-btn:hover {
    background: #3E2523;
    color: #FFF8ED;
}

/* ================= 푸터 섹션 ================= */
footer {
    padding: 1rem 0 4rem;
    background: #111;
}
footer .inner {
    flex-direction: column;
    align-items: center;
}
footer .bottom-util {
    padding: 1rem 0;
}
footer .bottom-util li {
    padding: .5rem .8rem;
}
footer .bottom-util li a {
    font-size: .8rem;
    color: #cccccc;
}
footer .bottom-util li em {
    font-size: .8rem;
    color: #fff;
}
footer .bottom-meta  {
    flex-direction: column;
    align-items: center;
}
footer .bottom-meta .footer-logo {
    width: 200px;
    margin: 10px 0 15px;
}
footer .bottom-meta .copy-info {
    font-size: .8rem;
    line-height: 1.7;
    text-align: center;
    color: #cccccc;
}
footer .bottom-meta .copy-info span {
    font-style: normal;
}
footer .bottom-meta .copy-info .tel::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 10px;
    vertical-align: middle;
    background-color: #fff;
}