/* ========== 헤더 섹션 ========== */
header {
    width: 100%;
    padding: 0 20px;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 1300;
    transition: all 0.4s ease;
}
header nav {
    display: flex;
}
header .logo a {
    color: #fafafa;
    font-size: 3rem;
}
header nav .list-wrap li {
    padding: 5px 20px;
}
header nav .list-wrap li a {
    font-size: 1rem;
    font-weight: 600;
    color: #3E2523;
}
header.fixed {
    top: 0;
    background: url(../img/header-bg.png) no-repeat center/cover;
    padding: 30px 0;
}
header.fixed .logo a { 
    color: #3E2523;
}
header.fixed .tab-overlay-btn {
    background: #3E2523;
    color: #fafafa;
}

/* ========== header 반응형 탭 ========== */
.overlay-toggle-btn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    justify-content: center;
    font-size: 2.3rem;
    color: #671930;
    background: #F0DCE2;
    display: none;
    z-index: 10000;
}
header.fixed .overlay-toggle-btn {
    background: #671930;
    color: #F0DCE2;
}
.overlay {
    opacity: 0;
}
.overlay.open {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5); 
    z-index: 1000;
    opacity: 1;
}

/* ========== header 오버레이 탭 ========== */
.tab-wrap {
    opacity: 0;
    padding: 100px 0 100px;
    z-index: 1100;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    transform: translateY(-20px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    gap: 70px;
    flex-direction: column;
    background: #FFF8ED;
    pointer-events: none;
}
.tab-wrap.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.tab-close-btn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    justify-content: center;
    font-size: 2.1rem;
    background: #3E2523;
    color: #fafafa;
    align-self: end;
    margin-right: 30px;
}
.tab-nav {
    flex-direction: column;
    gap: 80px;
}
.tab-nav a {
    font-size: 1.7rem;
    font-weight: 600;
    color: #3E2523;
    text-align: center;
}

/* ========== hero-section ========== */
.hero-section {
    height: 100vh;
    min-height: 600px; 
    max-height: 1440px;
    padding: 3rem 0;
}
.hero-container {
    height: 100%;
    border-radius: 1.6rem;
    overflow: hidden;
    background: #671930;
    gap: .9rem;
    padding: .9rem;
}
.hero-content {
    height: 100%;
    flex: 1;
    border-radius: 1.6rem;
    overflow: hidden;
}
.hero-content.hero-img img {
    height: 100%;
    object-fit: cover;
}
.hero-text-content {
    background: #F0DCE2;
    justify-content: center;
    align-items: end;
}
.hero-text-content .sub-content {
    flex-direction: column;
    justify-content: flex-end;
    color: #671930;
    align-items: center;
    margin-bottom: 3rem;
}
.hero-text-content .hero-subimg {
    width: 15rem;
    border-radius: 8px;
}
.hero-description {
    text-align: center;
    font-weight: 500;
    margin: 1rem 0 1.5rem;
    font-size: 1.1rem;
}
.hero-title {
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: -1px;
}

/* ========== slick slider 공통 ========== */
.item-slide.slick-slide, 
.text-slide.slick-slide {
    height: 330px;
    margin: 0 10px;
    color: #3E2523;
    border-radius: 8px;
    overflow: hidden;
    background: #FFF8ED;
}
.text-slide {
    position: relative;
}
.text-slide .text-wrap {
    width: 100%;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-slide h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}
.text-slide a {
    font-weight: 600;
    padding: 0 10px 5px 3px;
    border-bottom: 2px solid #3E2523;
}
.explore-text-wrap {
    text-align: start;
}
.discover-text-wrap {
    text-align: end;
}
.item-slide {
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.item-img {
    height: 230px;
    transition: transform 0.4s ease; 
    overflow: hidden;
}
.item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.item-img:hover img {
    transform: scale(1.1);
}
.item-info {
    padding: 1.2rem 1.2rem 0 1.2rem;
    text-align: start;
    flex-direction: column;
    align-items: start;
}
.item-type {
    font-size: .8rem;
    font-weight: 700;
    color: #888;
}
.item-name {
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: .7rem;
}
section .slick-prev.slick-arrow, 
section .slick-next.slick-arrow {
    width: 50px;
    height: 50px;
    top: 400px;
    background: #3E2523;
    border-radius: 10px;
}
section .slick-prev.slick-arrow {
    left: 50%;
    transform: translate(-45px, -50%); 
}
section .slick-next.slick-arrow {
    left: 50%;
    transform: translate(15px, -50%);
}
section .slick-prev:before,
section .slick-next:before {
    color: #FFF8ED;
    font-weight: 600;
    font-size: 1.7rem;
    font-weight: 600;
    opacity: 1;
}
section .slick-prev.slick-disabled, 
section .slick-next.slick-disabled {
    cursor: default;
}
section .slick-prev.slick-disabled:before, 
section .slick-next.slick-disabled:before {
    opacity: .6;
}
section .slick-prev:before {
    content: '<';
}
section .slick-next:before {
    content: '>';
}

/* ========== 신제품 섹션 ========== */
.new-section {
    background: #fafafa;
    padding: 10rem 0;
}

/* ========== 브랜드 스토리 섹션 ========== */
.brand-story-section {
    height: 60vh; 
    padding: 70px 0;
    background: url(../img/brandstory-bg.png) no-repeat center / cover;
}
.brand-story-section .inner {
    border-radius: 10px;
    overflow: hidden;
}
.story-text-wrap {
    width: 80%;
    height: 100%;
    color: #fff;
    padding-left: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.story-text-wrap h4 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.story-text-wrap h3 {
    font-size: 2.3rem;
    font-weight: 600;
}
.story-text-wrap p {
    font-size: 1.4rem;
    font-weight: 300;
    margin: .5rem 0 1rem;
}
.learn-more-btn {
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 4px;
    transition: padding .4s ease;
    margin-top: 40px;
    background: #fff;
    color: #3E2523;
}
.learn-more-btn:hover {
    padding-left: 16px;
}

/* ========== 레시피 섹션 ========== */
.recipes-section {
    padding: 10rem 0 13rem;
    background: #fafafa;
}
.recipes-slide-wrap .item-info {
    justify-content: space-around;
}

/* ========== 매장 섹션 ========== */
.shop-section {
    padding: 3rem 0;
    margin: 9rem 0;
    border-radius: 50px;
    background: #FFF8ED;
}
.shop-section .inner {
    gap: 40px;
}
.shop-img {
    flex: 1;
    max-height: 400px;
    overflow: hidden;
    border-radius: 12px; 
}
.shop-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.store-list {
    flex: 1;
}
.store-list li {
    border-top: 1px solid #d9d9d9;
    padding: 15px;
}
.store-list li:last-child {
    border-bottom: 1px solid #d9d9d9;
}
.store-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: #3E2523;
}
.store-address {
    margin-top: 7px;
    font-size: .9rem;
    color: #3E2523;
}
.store-list .more-btn {
    width: 45px;
    height: 45px;
    color: #3E2523;
    border: 1px solid #3E2523;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 50%;
    cursor: pointer;  
    justify-content: center;
    transition: background .4s ease;
}
.store-list .more-btn:hover {
    background: #3E2523;
    color: #FFF8ED;
}

/* ========== 푸터 섹션 ========== */
footer {
    padding: 6rem 0;
    background: #fafafa;
}
.footer-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #3E2523;
    margin-bottom: 10px;
}
.footer-links .links-wrap {
    gap: 20px;
}
.footer-links .footer-link {
    padding: 5px 0;
    display: inline-block;
    color: #3E2523;
    font-weight: 300;
    font-size: .9rem;
}
.footer-link:hover {
    text-decoration: underline;
}
.footer-social .social-links {
    gap: 25px;
    align-items: center;
    justify-content: center;
}
.footer-social .social-links li {
    width: 20px;
}
.footer-social .social-links img {
    width: 25px;
}