@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}
main {
    padding-top: var(--header-height);
}
* {    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section {
    padding: 7rem 0;
}
img {
    width: 100%;
    height: 100%;
    margin-bottom: -4px;
}
a {
    color: inherit;         
    outline: none;           
    background-color: transparent; 
    text-decoration: none; 
}
button {
    background: none;
    border: none;
    cursor: pointer;
}
li {
    list-style: none;
}