@media (max-width: 1370px) {
    section {
        padding: 6rem 0;
    }
    .new-section, 
    .promotion-section {
        padding: 4rem 0 6rem;
    }
    .brand-content-section .content-list a {
        gap: 1rem;
        flex-direction: column;
    }
    .brand-content-section .thumb-wrap {
        max-width: 480px;
        aspect-ratio: 2/1;
    }
    .brand-content-section .content-title {
        margin: .5rem 0;
    }
    .brand-content-section .content-text {
        display: none;
    }
    .recipes-list li:last-child {
        display: none;
    }
}

@media (max-width: 1300px) {
    section {
        padding: 5rem 0;
    }
    header .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav {
        grid-template-columns: auto;
    }
    nav.pc-only .gnb {
        display: none;
    }
    header.fixed {
        padding: 1.5rem 0;
    }
    .slick-initialized .slick-dots {
        bottom: -40px;
    }
    .content-list .content-date {
        display: none;
    }
    .tab-open-btn {
        display: block;
    }
    .hero-section {
        height: calc(40vh - var(--header-height));
        min-height: 500px;
    }
    .new-section h3 {
        margin-bottom: 4rem;
    }
    .new-section h3::after {
        margin: 30px auto 0;
    }
    .new-slide-wrap .img-wrap {
        max-width: 140px;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 14px;
    }
    .inner {
        width: 90%;
    }
    .slick-initialized .slick-next {
        right: -15px;
    }
    .hero-section {
        min-height: 300px;
    }
    .hero-badge-wrap {
        display: none;
    }
    .new-slide-wrap .img-wrap {
        max-width: 100px;
    }
    .brand-content-section .content-list a {
        gap: .5rem;
    }
    .brand-content-section .content-list li:nth-child(n+3) {
        display: none;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 13px;
    }
    .content-list {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        justify-items: center;
    }
    .content-date {
        font-size: .7rem;
    }
    .promotion-section,
    .new-section {
        padding: 4rem 0 4rem;
    }
    .promotion-slide-list .content-title {
        font-size: .9rem;
    }
    .new-slide-wrap .img-wrap {
        max-width: 80px;
    }
    .new-slide-wrap figcaption {
        font-size: .9rem;
    }
    .recipes-list li:nth-child(n+3) {
        display: none;
    }
    .recipes-section .content-text {
        display: none;
    }
    .store-section .store-img {
        display: none;
    }
    footer .bottom-util {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    section {
        padding: 4rem 0;
    }
    .slick-initialized .slick-prev:before,
    .slick-initialized .slick-next:before {
        content: '';
    }
    header .logo a {
        font-size: 2rem;
        white-space: nowrap;
    }
    .slick-initialized li {
        margin: .6rem;
    }
    .content-date {
        font-size: 1rem;
    }
    .hero-section {
        padding: 1rem 0;
    }
    .promotion-slide-wrap .content-title {
        font-size: 1.2rem;
    }
    .new-slide-wrap .img-wrap {
        max-width: 60px;
    }
    .new-slide-wrap figcaption {
        padding: .5rem;
        font-weight: 400;
    }
}