/* ========== reset ========== */
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: #444;
    font-family: "Pretendard Variable";
    background: #fff;
}
section {
    position: sticky;
    background: #fff;
    padding-bottom: 3rem;
}
img {
    width: 100%;
    /* height: auto; */
    vertical-align: middle;
}
a {
    background-color: transparent; 
    color: inherit;         
    text-decoration: none; 
    cursor: pointer;        
}
button {
    border: none;
    background: none;
    cursor: pointer;
}
li {
    list-style: none;
}