@media (max-width: 1500px) {
    .hero-heading {
        padding-top: 18vh;
    }
    .hero-heading h1 {
        font-size: 9rem;
    }
    .hero-heading span {
        font-size: 2.6rem;
    }
    .hero-img {
        bottom: -35%;
    }
}
@media (max-width: 1300px) {
    .hero-heading {
        flex-direction: column;
    }
}