.inner {
    width: 90%;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.jc-between {
    justify-content: space-between;
}
.jc-center {
    justify-content: center;
}
.ai-center {
    align-items: center;
}
.section-content {
    background: #f9f9f9;
    margin: 0 2rem 0 2rem;
    padding-bottom: 3rem;
    border-radius: 3rem;
}
.section-title {
    position: sticky;
    inset: 0 auto auto 0;
    z-index: 10000;
}
.folder-shape {
    position: relative;
    justify-content: center;
    max-width: 16rem;
    min-width: 8rem;
    padding: 1.4rem 1rem;
    border-radius: 0 0 28px 0;
    background: #fff;
    transform: skew(-20deg);
    transform-origin: top left;
}
.folder-shape h2 {
    margin: 0;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-weight: 700;
    white-space: nowrap;
    transform: skew(20deg);
}

/* ========== hero-section ==========  */
.hero-section {
    position: sticky;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    border-radius: 0;
    inset: 0 auto auto 0;
}
.hero-heading {
    align-items: flex-end;
    padding: 12vh 5vw 0;
    font-family: 'League Spartan', sans-serif;
    color: #FF9A6B;
}
.hero-heading h1 {
    font-size: 8.5rem;
    letter-spacing: -8px;
    transform: scaleY(1.2)
}
.hero-heading span {
    font-size: 3rem;
    font-weight: 200;
}
.hero-img {
    position: absolute;
    bottom: -40%;
    left: 5%;
}

/* ========== about-section ==========  */
.about-info {
    justify-content: center;
    margin: 4rem 0 8rem;
    gap: 5rem;
}
.about-info .about-img {
    width: 12rem;
}
.about-info .info-txt {
    max-width: 420px;
}
.about-info .info-txt p {
    margin-top: 1.2rem;
    font-size: 1rem;
    line-height: 1.8;
}
.about-content {
    flex-wrap: wrap;
    gap: 3rem;
}
.about-content .about-group {
    max-width: 400px;
    flex: 1 1 340px;
}
.about-group h3 {
    margin-bottom: .8rem;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: -0.01em;
    color: #FF9A6B;
}
.about-content .about-detail {
    padding: 8px 0;
    font-size: .9rem;
    color: #333;
}
.about-detail .about-date {
    width: 140px;
    flex-shrink: 0;
}
.skill-img-list li {
    width: 35px;
}
.skill-desc-list {
    max-height: 0;
    padding: 3rem 0 2rem 1rem;
    overflow: hidden;
    transition: all 0.6s ease;
    transition: all 0.4s ease;
    opacity: 0;
}
.skill-desc-list li {
    padding: 10px 0;
    font-size: .85rem;
}
.skill-name {
    width: 80px;
    flex-shrink: 0;
}
.open-btn {
    display: block;
    width: 50px;
    margin: 0 auto;
    transition: transform 0.4s ease;
}
.open-btn-img {
    animation: bounce 1.5s infinite;
}
@keyframes bounce { 
    0%, 100% { 
        transform: translateY(0);
    } 50% { 
        transform: translateY(-10px);
    } 
}
.open-btn.close {
    transform: rotate(-180deg);
}
.open-btn.close .open-btn-img {
    animation: none;
}

/* ========== project-section ==========  */
.project-item {
    margin: 6rem 0 12rem 0;
    gap: clamp(3rem, 9vw, 9rem);
}
.project-item .img-wrap {
    flex: 1 1 500px;
    max-width: 580px;
}
.project-item .img-wrap img {
    border: 1px solid #e2e2e2;
    border-radius: 16px;
}
.project-info {
    flex: 1 1 550px;
    max-width: 650px;
}
.project-info .project-title {
    margin-bottom: 2rem;
    font-size: clamp(1.2rem, 3vw, 1.8rem);
    font-weight: 500;
    letter-spacing: -0.01em;
    color: #FF9A6B;
}
.project-info .info-item {
    padding: 10px 0;
    font-size: 1rem;
    line-height: 1.5;
}
.project-info .info-label {
    width: 110px;
    font-weight: 600;
}
.project-info .info-list .desc-wrap {
    align-items: start;
}
.project-info .project-desc {
    flex: 1;
    line-height: 1.7;
}
.project-info .links-wrap {
    margin-top: 30px;
    gap: 20px;
}
.project-info .links-wrap a {
    flex: 1;
    padding: 15px;
    border-radius: 5px;
    background: #fff2e8;
    text-align: center;
    font-weight: 600;
    color: #666;
    transition: all .4s ease;
}
.project-info .links-wrap a:hover {
    padding: 15px 30px;
    color: #111;
}