<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 class="visually-hidden">선글라스 쇼핑몰</h1>
        <div class="user-tab">
            <div class="inner flex jc-between">
                <nav class="default-gnb" aria-label="주요 메뉴">
                    <ul class="gnb-menu flex ai-center">
                        <li>
                            <a href="#">선글라스</a>                        
                        </li>
                        <li>
                            <a href="#">안경</a>                        
                        </li>
                        <li>
                            <a href="#">컬렉션</a>                        
                        </li>
                        <li>
                            <a href="#">스토어</a>                        
                        </li>
                    </ul>           
                </nav>
                <button class="tab-open-btn" aria-label="메뉴 열기"
                aria-expanded="false"
                aria-controls="res-menu">☰</button>
                <ul class="user-menu flex ai-center">
                    <li>
                        <a href="#" aria-label="검색 페이지로 이동"><img src="img/icons/search.svg" alt="검색 아이콘"></a>
                    </li>
                    <li>
                        <a href="#" aria-label="마이페이지로 이동"><img src="img/icons/mypage.svg" alt="마이페이지 아이콘"></a>
                    </li>
                    <li>
                        <a href="#" aria-label="카트페이지로 이동"><img src="img/icons/cart.svg" alt="카트 아이콘"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="res-user-tab">
            <button class="tab-close-btn" aria-label="닫기" aria-label="메뉴 닫기">×</button>
            <nav class="gnb" aria-label="반응형 주요 메뉴">
                    <ul class="res-gnb-menu flex ai-center">
                        <li>
                            <a href="#">선글라스</a>                        
                        </li>
                        <li>
                            <a href="#">안경</a>                        
                        </li>
                        <li>
                            <a href="#">컬렉션</a>                        
                        </li>
                        <li>
                            <a href="#">스토어</a>                        
                        </li>
                    </ul>           
            </nav>
        </div>
    </header>
</body>
</html>