header {
    width: 100%;
    padding: .5rem 0;
    position: fixed;
    inset: 0 auto auto 0;
    backdrop-filter: blur(10px);
    border-bottom: .5px solid #d9d9d9;
    z-index: 1000;
}
header a {
    font-weight: 300;
}
.tab-open-btn {
    display: none;
    font-size: 44px;
}
.gnb-menu {
    gap: .8rem;
}
.gnb-menu a {
    display: block;
    font-size: .9rem;
    padding: .5rem 1rem;
    font-weight: 500;
    color: #222;
}
.user-menu {
    gap: 28px;
}
.user-menu a {
    width: 20px;
    display: block;
}
/* === header 반응형 === */
.res-user-tab {
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0 auto auto 0;
    z-index: 999;
    flex-direction: column;
    padding: 2rem 1.5rem 0 3rem;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}
.res-user-tab.active {
    transform: translateX(0);
}
.tab-close-btn {
    position: absolute;
    top: 1.2rem;
    left: 5rem;
    font-size: 44px;
    color: #333;
}
.res-gnb-menu {
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 10rem;
}
.res-gnb-menu li a {
    font-size: 30px;
    font-weight: 500;
    color: #111;
    padding: 10px;
    display: block;
}