@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'IBM Plex Mono';
    color: #222;
}
img {
    width: 100%;
    margin-bottom: -4px;
}
a {
    color: inherit;         
    text-decoration: none; 
    background-color: transparent; 
    cursor: pointer;        
    outline: none;           
}
button {
    cursor: pointer;
    border: none;
    background: none;
}
main section {
    padding: 7rem 0 7rem;
    border-bottom: 1px solid #d9d9d9;
}
li {
    list-style: none;
}