// gap
$gap-xs:10px;
$gap-sm:15px; 
$gap-md:20px;
$gap-lg:40px;

// 폰트 
$font-xs: 0.8rem;
$font-sm: 0.9rem;
$font-base: 1rem;
$font-lg: 1.2rem;
$font-xl: 2rem;

// 반응형
$mobile: 480px;
$mobile-land: 576px;
$tablet: 768px;
$tablet-land: 992px;
$desktop: 1024px;
$desktop-lg: 1200px;
$desktop-xl: 1440px;
