@import 'reset';
@import 'common';
@import 'minxins';
@import 'variables';

body.no-scroll {
    height: 100vh;    
    overflow: hidden;  
}

/* ========== header section =========== */
header {
    width: 100%;
    padding: 1rem 0;
    position: fixed;
    inset: 0 auto auto 0;
    background: #fff;
    border-bottom: .5px solid #d9d9d9;
    z-index: 999;
}
.logo {
    width: 120px;
}
.gnb-menu {
    gap: 10px;
    margin-left: 3rem;

    a {
        display: block;
        padding: 0 .3rem;
        font-size: $font-sm;
    }
}
.user-menu a {
    padding: .4rem;
    font-size: $font-xs;
    color: #444;
}
.head-user-menu {
    display: none;
    gap: 10px;

    button {
        width: 40px;
        padding: .5rem;
        aspect-ratio: 1 / 1;
    }
}

/* ========== hero section =========== */
.hero-sec {
    height: 100vh;
    padding: 0;
    
    img {
        height: 100%;
        object-fit: cover;
    }
}

/* =========== shape section =========== */
.shape-sec {
    position: relative;
}
.shape-slider {
    .pager {
        @include pager-mix;
    }

    .item-box {
        border: .5px solid #d9d9d9;
        padding: 1rem;
        border-radius: 10px;
        transition: all 0.1s ease-out;
    }

    .shape-label {
        margin-bottom: 1.5rem;
        font-size: $font-sm;
        font-weight: 500;
        color: #666;
    }

    .item-box {
        &:hover {
            border: 1px solid #999;
        }
    }
}
.shape-slider .product-img {
    width: 100%;            
    max-width: 165px;       
    aspect-ratio: 3/1; 
    overflow: hidden;

    img {
        height: 100%;       
        object-fit: contain;
    }
}

/* ========== best section =========== */
.best-sec .item-wrap {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 20px;
}
.best-sec .img-wrap {
    display: block;
    border-radius: 15px;
    overflow: hidden;
    aspect-ratio: 1/1;

    img {
        object-fit: cover;
    }
}
.best-sec .icon-wrap {
    text-align: end;
    padding: .5rem 0;
    margin-bottom: 1rem;
    border-bottom: .5px solid #eaeaea;

    button {
        width: 16px;
        margin: 4px;
    }
}
.best-sec .product-info {
    @include product-item-mix;
}

/* =========== recommend section =========== */
.recommend-sec {
    position: relative;

    .pager {
        @include pager-mix;
    }
}
.recommend-slider .product-bg {
    aspect-ratio: 1/1;
    margin-bottom: 15px;

    img {
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
    }
}
.recommend-slider .product-list {
    gap: 15px;
    flex-direction: column;
    margin: 0 10px 10px 0;
}
.recommend-slider .product-item {
    align-items: center;
    gap: 20px;
    background: #fff;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.07);
}
.recommend-slider .product-thumb {
    width: 120px;
    aspect-ratio: 1/1;
    border-radius: 0.5rem;
    overflow: hidden;
    flex-shrink: 0;

    img {
        height: 100%;
        object-fit: cover;
    }
}

.recommend-slider .product-info {
    @include product-item-mix;
}

/* =========== lookbook section ===========  */
.lookbook-sec {
    position: relative;

    .pager {
        @include pager-mix;
    }
}
.lookbook-sec .info-wrap {
    .brand-area {   
        padding: .4rem 0;
        
        p {
            @include brand-link-mix;
        }
        span {
            @include brand-link-mix;
        }
    }
    .collection-name {
        font-size: $font-sm;
        font-weight: 500;
    }
}

/* =========== store-sec =========== */
.store-sec {
    background: url('/img/store/store_bg.jpg') no-repeat center/cover; 

    .inner {
        gap: 40px;
    }

    article {
        background-color: #fafafa;
        border-radius: 1rem;
        overflow: hidden;
        color: #333;
    }
}
.store-info {
    padding: .6rem 1rem;

    h3 {
        font-size: $font-base;
        font-weight: 500;
        margin-bottom: 1rem;
    }
}
.store-address {
    font-size: $font-xs;

    p {
        margin: 0 0 8px 10px;
    }

    i::before {
        display: block;
        width: 25px;
        margin-top: 4px;
    }
}

/* ========== footer section =========== */
.footer-payment .payment-list {
    gap: 40px;
    justify-content: center;
    padding: 1.5rem 0;

    li {
        width: 40px;
    }
}
.footer-links {
    padding: 2.5rem 0;
    background: #fafafa;
    border-top: .5px solid #d9d9d9;
    border-bottom: .5px solid #d9d9d9;
    color: #555;

    h3 {
        font-size: $font-sm;
        font-weight: bold;
        margin-bottom: .5rem;
    }
}
.footer-links .links-list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    a {
        display: block;
        font-size: $font-xs;
        padding: .3rem 0;
    }
}
.footer-legal {
    background: #fafafa;
    color: #555;
    padding: 1rem 1rem 120px 1rem;

    a {
        display: block;
        font-size: $font-xs;
        padding: .5rem 1rem;
    }
}
.legal-links-list li:not(:last-child) {
    position: relative;

    &:after{
        content: '';
        width: .1px;
        height: 15px;
        border: .4px solid #c5c5c5;
        position: absolute;
        top: 8px;
        right: 0;
    }
}

/* ========== fixed-bottom-menu =========== */
.fixed-bottom-menu {
    width: 100%;
    background: #000;
    position: fixed;
    left: 0;
    bottom: 0;
    color: #fff;
    justify-content: space-around;
    z-index: 1100;
    display: none;
}
.fixed-bottom-menu a {
    img {
        width: 22px;
    }

    flex-direction: column;
    padding: 1rem;
    text-align: center;
    
    span {
        font-size: $font-xs;
        margin-top: 12px;
    }
}

/* ========== floating-wrap =========== */
.floating-wrap {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 999;

    button {
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #fff;
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s ease;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    }

    img {
        width: 1rem;
    }
}
.scroll-top-btn.hidden {
    opacity: 0;
    visibility: hidden;
}

/* ========== overlay-tab =========== */
.overlay-tab {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0 auto auto 0;
    z-index: 1000;
    flex-direction: column;
    padding: 1rem 1.2rem 100px 1.2rem;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;        

    &.active {
        transform: translateX(0);
    }
    
    .tab-close-btn {
        font-size: $font-xl;
        padding: .5rem;
        margin: 0 0 0.5rem auto;
        justify-self: self-end;
        color: #444;
    }
}
.overlay-tab .login-area {
    padding: .5rem 0;

    .thumb-icon {
        width: 40px;
        margin-right: 10px;
    }

    p {
        font-weight: 500;
    }

    .login-btn {
        padding: .5rem 1rem;
        background: #333;
        color: #fff;
        border-radius: 20px;
        margin-left: auto;
    }
}
.overlay-tab .contents-area {
    margin: 1.5rem 0;

    .contents-title {
        padding: 1rem 0;
        border-bottom: 1px solid #111;

        a {
        font-size: $font-base;
        font-weight: 400;
        }
    }
}
.contents-area ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    li {
        border-bottom: .5px solid #d9d9d9;
        margin-right: 1rem;
    }
    a {
        padding: 1.3rem .8rem;
        font-weight: 500;
    }
}

@import 'responsive';