:root {
    --header-height: 80px;
    --white: #fafafa;
    --gray-05: #f8f7f5;
    --gray-10: #E7E6E3;
    --gray-60: #666666;
    --gray-80: #333333;
    --sac-gold: #B8963E;
    --sac-red: #C8102E;
}